@font-face {
	font-family: 'Digital-7';
	src: url(./assets/fonts/digital-7.ttf) format(truetype);
}

.toplevel_page_attendance-app-root{
    --padding-size: 10px;
    --app-page-size: 800px;
    .attendance-top-bar{
        display: flex;
        gap: 14px;
        justify-content: space-between;
        align-items: center;
        .attendance-top-bar-navigate-menu{
            display: flex;
            gap: 8px;
        }
    }
}

.toplevel_page_attendance-app-root #wpcontent {
    padding: 0 var(--padding-size);
    position: relative;
    display: block;

    // Wordpress Pluging App Root
    #attendance-app-root *{
        margin: 0;
        padding: 0;
    }

    // App Root Body For Show Content
    #attendance-app-body {
        background-color: #fff;
        height: calc(var(--app-page-size) - 65px);
        padding: 10px;
        border-radius: 20px;
        margin: 0;
        .attendance-title{
            text-align: center;
        }
        .attendance-dashboard{
            display: flex;
            flex-direction: column;
            align-items: center;
            .attendance-current-time{
                font-family: 'Digital-7', sans-serif;
                font-size: 4rem;
                line-height: normal;
                margin: 2rem 0;
            }
        }
    }
}